html,
body,
#app {
  margin: 0;
  padding: 0;
}

.icon-btn {
  @apply inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-teal-600;
  font-size: 0.9em;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-zinc-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-400 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-500;
}
